/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.main.container {
  margin-top: 7em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

:not(pre) > code {
  font-size: 0.9375em;
  padding: 1px 3px 0;
  white-space: nowrap;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-shadow: none;
}

.masthead {
  background-image: url(/images/computer-1873831.png) !important; /* TODO - find a way to get rid of !important */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.masthead.segment {
  min-height: 500px;
  padding: 1em 0em;
}

.masthead .image {
  margin-top: 3em;
  margin-bottom: 0em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}